{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Panier</h1>


<table class="table">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

   
{% for element in dataPanier %}
<div class="panier dp-flex">
    <div class="produits-du-panier"> 
        <tr>
            <td>{{ element.produit.titre }}</td>
            <td>{{ element.produit.prix}} € </td>
            <td> {{ element.quantite}} </td>
            <td>{{ element.quantite * element.produit.prix }} € </td>
            <td> 
                <a href="{{path("panier_add", {id:element.produit.id})}}"
                class="btn all btn-success" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>
                <a href="{{path("panier_remove", {id:element.produit.id})}}" class="btn all btn-warning" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                    </svg>
                </a>
                <a href="{{path("panier_delete", {id:element.produit.id})}}" class="btn all btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
                </a>
            </td>
        </tr>
         </div>
    {% else %}
        <tr>
        <td colspan="5" class="text-center">Votre panier est vide</td>
        </tr>
    {% endfor %}
   

    <div class="prix-panier">
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td>{{ total }} €</td>
                <td></td>
            </tr>
        
        </tfoot>



        </table>
                <button type="submit" class="btn all btn-primary mb-5"><a href="#"  class="text-decoration-none text-white ">Valider le panier</a></button> 

            
        </div>

        <div class="zone-paiement">
            <p>SOUS-TOTAL</p>
        <ul class="js-availableShippingMethodsList">
            <li><span class="paragraph-body">Boutique</span>
            <span class="paragraph-body u-no-wrap mg-l-s">Offert</span>
            </li>
            <li><span class="paragraph-body">Point relais</span><span class="paragraph-body u-no-wrap mg-l-s">2,90 €</span></li>
            <li><span class="paragraph-body">Domicile</span><span class="paragraph-body u-no-wrap mg-l-s">à partir de 4,90 €</span></li>
        </ul>

        </div>
    </div>
</div>
{% endblock %}
