{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

 <div class="zone-inscription w-50 ps-4">
    <h2 class="mb-5 mt-2">Inscription</h2>
   
        {{ form(registrationForm) }}

        {# {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {# {{ form_row(registrationForm.agreeTerms) }} #}

            {# <button type="submit" class="btn">S'inscrire</button> #}
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
