<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="{{asset('assets/images/lucas-da-miranda.jpg')}}" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="{{asset('assets/images/pixabay.jpg')}}" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="{{asset('assets/images/darina-belonogova.jpg')}}" class="d-block w-100" alt="...">
		</div>
	</div>
</div>


<div class="row py-5 px-5">
	<div class="col-lg-4 text-center">
		<img class="rounded-circle" width="140" height="140" src="{{asset("uploads/2b90920883c0c6953b4929204c20297e.jpg")}}" alt="image">

		<h2 class="fw-normal">Soutiens-gorge</h2>
		<p>Lorem ipsum dolor sit amet. Eos enim omnis est inventore repudiandae ut cumque voluptatem est quis. </p>
		<p>
			<a class="btn btn-secondary" href="{{ path("app_produit_soutiens-gorge")}}">Voir détails »</a>
		</p>
	</div>
	<!-- /.col-lg-4 -->
	<div class="col-lg-4 text-center">
		<img class="rounded-circle" width="140" height="140" src="{{asset("uploads/0a0a356ea31df3bcd0139c987d5cc83e.jpg")}}" alt="image">

		<h2 class="fw-normal">Culotte menstruelle</h2>
		<p>Lorem ipsum dolor sit amet. Eos enim omnis est inventore repudiandae ut cumque voluptatem  .</p>
		<p>
			<a class="btn btn-secondary" href="{{ path("app_produit_lingerie_menstruelle")}}">Voir détails »</a>
		</p>
	</div>
	<!-- /.col-lg-4 -->
	<div class="col-lg-4 text-center">
		<img class="rounded-circle" width="140" height="140" src="{{asset("uploads/4c995e755556976e5c39f505d2a44ef9.jpg")}}" alt="image">

		<h2 class="fw-normal">Culotte</h2>
		<p>Lorem ipsum dolor sit amet. Eos enim omnis est inventore repudiandae  .</p>
		<p>
			<a class="btn btn-secondary" href="{{ path("app_produit_culotte")}}">Voir détails »</a>
		</p>
	</div>
	<!-- /.col-lg-4 -->
</div>


<div class="footerReinsurance mt-5 ">
	<div class="brandReinsurance ">
		<div class="brandReinsurance__wrapper ">
			<ul class="brandReinsurance__list d-flex justify-content-around ">
				<li class="brandReinsurance__item">

					<div class="content-asset bodyDesktop ">
						<p style="text-align:center; max-width: 70px; margin: auto;"><img alt="" src="https://www.undiz.com/on/demandware.static/-/Library-Sites-UNDIZ_sharedLibrary/default/dw1d1307f7/Checkout/sav.png" title=""></p>
						<p style="text-align: center; text-transform: lowercase; font-size: 13px; font-family: rubik;">30 jours pour essayer !</p>
					</div>
				</li>
				<li class="brandReinsurance__item">

					<div class="content-asset bodyDesktop ">
						<p style="text-align:center; max-width: 70px; margin: auto;"><img alt="" src="https://www.undiz.com/on/demandware.static/-/Library-Sites-UNDIZ_sharedLibrary/default/dw79789912/Checkout/paiement.png" title=""></p>
						<p style="text-align: center; text-transform: lowercase; font-size: 13px; font-family: rubik;">paiement sécurisé et 3x sans frais</p>
					</div>
				</li>
				<li class="brandReinsurance__item">

					<div class="content-asset bodyDesktop ">
						<p style="text-align:center; max-width: 70px; margin: auto;"><img alt="" src="https://www.undiz.com/on/demandware.static/-/Library-Sites-UNDIZ_sharedLibrary/default/dwacbe2c91/Checkout/delivery.png" title=""></p>
						<p style="text-align: center; text-transform: lowercase; font-size: 13px; font-family: rubik;">expédition 24/48h</p>
					</div>
				</li>
				<li class="brandReinsurance__item">

					<div class="content-asset bodyDesktop ">
						<p style="text-align:center; max-width: 70px; margin: auto;"><img alt="" src="https://www.undiz.com/on/demandware.static/-/Library-Sites-UNDIZ_sharedLibrary/default/dw3469ca50/Checkout/retours-gratuits-img.png" title=""></p>
						<p style="text-align: center; text-transform: lowercase; font-size: 13px; font-family: rubik;">
							livraison &amp; retours gratuits en magasin</p>
					</div>
				</li>
			</ul>
		</div>
