<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="{{asset('assets/images/lucas-da-miranda.jpg')}}" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="{{asset('assets/images/pixabay.jpg')}}" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="{{asset('assets/images/darina-belonogova.jpg')}}" class="d-block w-100" alt="...">
		</div>
	</div>
</div>


<div class="row py-5 px-5">
	<div class="col-lg-4 text-center">
		<img class="rounded-circle" width="140" height="140" src="{{asset("uploads/2b90920883c0c6953b4929204c20297e.jpg")}}" alt="image">

		<h2 class="fw-normal">Soutiens-gorge</h2>
		<p>Lorem ipsum dolor sit amet. Eos enim omnis est inventore repudiandae ut cumque voluptatem est quis.
		</p>
		<p>
			<a class="btn btn-secondary" href="{{ path("app_produit_soutiens-gorge")}}">Voir détails »</a>
		</p>
	</div>
	<!-- /.col-lg-4 -->
	<div class="col-lg-4 text-center">
		<img class="rounded-circle" width="140" height="140" src="{{asset("uploads/b19ebf6f3d4ed9576e06f28bfc5298e8.jpg")}}" alt="image">

		<h2 class="fw-normal">Culotte menstruelle</h2>
		<p>Lorem ipsum dolor sit amet. Eos enim omnis est inventore repudiandae ut cumque voluptatem  .</p>
		<p>
			<a class="btn btn-secondary" href="{{ path("app_produit_lingerie_menstruelle")}}">Voir détails »</a>
		</p>
	</div>
	<!-- /.col-lg-4 -->
	<div class="col-lg-4 text-center">
		<img class="rounded-circle" width="140" height="140" src="{{asset("uploads/a4be96201f7b7a4ce2c3bca6d068fc32.jpg")}}" alt="image">

		<h2 class="fw-normal">Culotte</h2>
		<p>Lorem ipsum dolor sit amet. Eos enim omnis est inventore repudiandae  .</p>
		<p>
			<a class="btn btn-secondary" href="{{ path("app_produit_culotte")}}">Voir détails »</a>
		</p>
	</div>
	<!-- /.col-lg-4 -->
</div>


<div class="footerReinsurance mt-5 ">
	<div class="brandReinsurance ">
		<div class="brandReinsurance__wrapper ">
			<ul class="brandReinsurance__list d-flex justify-content-around ">
				<li class="brandReinsurance__item">

					<div class="content-asset bodyDesktop ">
						<p style="text-align:center; max-width: 70px; margin: auto;"><img alt="" src="https://www.undiz.com/on/demandware.static/-/Library-Sites-UNDIZ_sharedLibrary/default/dw1d1307f7/Checkout/sav.png" title=""></p>
						<p style="text-align: center; text-transform: lowercase; font-size: 13px; font-family: rubik;">30 jours pour essayer !</p>
					</div>
				</li>
				<li class="brandReinsurance__item">

					<div class="content-asset bodyDesktop ">
						<p style="text-align:center; max-width: 70px; margin: auto;"><img alt="" src="https://www.undiz.com/on/demandware.static/-/Library-Sites-UNDIZ_sharedLibrary/default/dw79789912/Checkout/paiement.png" title=""></p>
						<p style="text-align: center; text-transform: lowercase; font-size: 13px; font-family: rubik;">paiement sécurisé et 3x sans frais</p>
					</div>
				</li>
				<li class="brandReinsurance__item">

					<div class="content-asset bodyDesktop ">
						<p style="text-align:center; max-width: 70px; margin: auto;"><img alt="" src="https://www.undiz.com/on/demandware.static/-/Library-Sites-UNDIZ_sharedLibrary/default/dwacbe2c91/Checkout/delivery.png" title=""></p>
						<p style="text-align: center; text-transform: lowercase; font-size: 13px; font-family: rubik;">expédition 24/48h</p>
					</div>
				</li>
				<li class="brandReinsurance__item">

					<div class="content-asset bodyDesktop ">
						<p style="text-align:center; max-width: 70px; margin: auto;"><img alt="" src="https://www.undiz.com/on/demandware.static/-/Library-Sites-UNDIZ_sharedLibrary/default/dw3469ca50/Checkout/retours-gratuits-img.png" title=""></p>
						<p style="text-align: center; text-transform: lowercase; font-size: 13px; font-family: rubik;">
							livraison &amp; retours gratuits en magasin</p>
					</div>
				</li>
			</ul>
		</div>

		<div class="newsletterWrapper mt-3 ">

			<div class="content-asset bodyDesktop ">
				<style>

					.FooterNswTitleWrapper {

						text-align: center;

						padding: 0 30px;

						max-width: 480px;

						margin: 0 auto;

					}

					.FooterNswTitleWrapper h3 {

						margin: 4px auto 12px;

					}
				</style>
				<section class="FooterNswTitleWrapper">
					<svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewbox="0 0 34 35" fill="none">
						<path d="M0.513208 14.2915C0.513208 15.1254 1.41132 15.2537 1.60377 15.2537H7.82641L8.98113 13.8424C9.9434 12.5594 11.2906 11.6613 12.8302 11.1481L16.7434 9.86506C17.5774 9.60846 18.3472 9.22355 19.117 8.71034C20.3358 7.94053 21.4264 6.78582 22.1962 5.56695L24.1208 2.42355L24.1849 2.3594H24.3774C25.3396 2.3594 26.1736 3.12921 26.1736 4.15563V4.86129C26.1736 5.82355 25.917 6.78582 25.4038 7.55563L22.7736 12.0462C21.1698 12.3669 19.9509 13.7783 19.9509 15.5103C19.9509 16.2802 20.2075 16.9217 20.5925 17.499C19.4377 18.0764 18.6679 19.2952 18.6679 20.6424C18.6679 20.7707 18.6038 23.5292 14.4981 23.5292V25.4537C17.4491 25.4537 18.9245 24.299 19.7585 23.1443C20.0151 23.4009 20.2717 23.5934 20.5925 23.7217C20.2075 24.299 19.9509 25.0047 19.9509 25.7103C19.9509 26.8651 20.5283 27.9556 21.4264 28.5971C20.9132 29.2386 20.5925 30.0085 20.5925 30.8424C20.5925 31.1632 20.6566 31.4839 20.7208 31.8047H17.1925C13.7283 31.8047 10.4566 30.2651 8.14717 27.6349L7.89057 27.4424H1.02642C0.641509 27.4424 0 27.5066 0 28.4047C0 29.4952 1.02642 29.3669 1.02642 29.3669H6.99245C9.62264 32.2537 13.2792 33.8575 17.1925 33.8575H22.0679C22.6453 34.2424 23.3509 34.499 24.0566 34.499H27.7774C29.5094 34.499 31.1132 33.2802 31.3698 31.5481C31.4981 30.5858 31.3057 29.6877 30.7925 28.982C31.9472 28.4047 32.717 27.1858 32.717 25.8386C32.717 25.0688 32.4604 24.4273 32.0755 23.85C33.2302 23.2726 34 22.0537 34 20.7066C34 19.3594 33.2302 18.1405 32.0755 17.5632C32.5887 16.7934 32.8453 15.7669 32.5887 14.6764C32.2038 13.0726 30.6642 12.0462 29.0604 12.0462H25.0189L27.0075 8.64619C27.7132 7.55563 28.0981 6.20846 28.0981 4.92544V4.21978C28.0981 2.16695 26.4302 0.499023 24.3774 0.499023H24.2491C23.5434 0.499023 22.9019 0.883929 22.517 1.46129L20.5925 4.60468C19.9509 5.6311 19.117 6.52921 18.0906 7.17072C17.5132 7.55563 16.8717 7.87638 16.166 8.06883L12.2528 9.35185C10.3283 9.99336 8.72453 11.1481 7.50566 12.6877L6.99245 13.3292H1.66792C0.70566 13.3292 0.513208 13.7783 0.513208 14.2915ZM23.4792 13.9707H29.1887C29.9585 13.9707 30.6642 14.4198 30.7925 15.1896C31.0491 16.216 30.2792 17.1783 29.2528 17.1783H23.5434C22.7736 17.1783 22.0679 16.7292 21.9396 15.9594C21.683 14.933 22.4528 13.9707 23.4792 13.9707ZM22.2604 19.1028H23.4792H29.2528H30.4717C31.2415 19.1028 31.9472 19.5519 32.0755 20.3217C32.3321 21.3481 31.5623 22.3103 30.5358 22.3103H29.2528H23.4792H22.1962C21.1698 22.3103 20.4 21.3481 20.6566 20.3217C20.7849 19.5519 21.4906 19.1028 22.2604 19.1028ZM30.7925 26.2236C30.6 26.9292 29.8943 27.4424 29.1887 27.4424H27.9698H24.1208H23.5434C22.7736 27.4424 22.0679 26.9934 21.9396 26.2236C21.683 25.1971 22.4528 24.2349 23.4792 24.2349H29.2528C30.2792 24.2349 31.0491 25.1971 30.7925 26.2236ZM27.9698 32.5745H24.1849C23.4151 32.5745 22.7094 32.1254 22.5811 31.3556C22.3245 30.3292 23.0943 29.3669 24.1208 29.3669H27.9057C28.6755 29.3669 29.3811 29.816 29.5094 30.5858C29.766 31.6122 28.9962 32.5745 27.9698 32.5745Z" fill="black"></path>
					</svg>
					<h3 class="h3-title">good vibes, good news</h3>
					<p>on pense à vous avec nos bons plans, nos ventes privées, alors inscrivez-vous à notre newsletter.</p>
				</section>
			</div>
			<form method="POST" id="footerNewsletterForm" action="/on/demandware.store/Sites-UNDIZ_FR-Site/fr_FR/Newsletter-Subscribe" novalidate="">
				<div class="formfield js-newsletterEmailField">
					<div class="form__group text-center ">
						<div class="form__field">
							<input type="email" class="form__input " placeholder="exemple@mail.com" pattern="^[\w.%+-]+@[\w.-]+\.[\w]{2,6}$" id="newsletter_email" data-field-id="email" required="" name="newsletter_email" data-error="Veuillez saisir une adresse e-mail valide">
							<label for="newsletter_email" class="form__label">
								
							</label>
							{# <span class="form__validIcon js-validInput">
								<i class="icon icon-check"></i>
							</span>
						</div>
						<div class="invalid-feedback hidden"></div>
					</div> #}
					<input type="submit" value="OK" class="submit -disabled btn btn-primary " autocomplete="off">
					<p class="footerNewsletterMsg"></p>
				</div>
			</form>
			<p class="footerNewsletterGdpr">
				En vous inscrivant, vous acceptez que Boudia lingerie traite vos données personnelles, conformément à sa
				<span class="default-link -small js-showCGVAcceptTrigger">Charte de confidentialité</span>, aux fins de vous adresser des communications commerciales. Vous pouvez à tout moment vous désabonner, en cliquant sur le lien "se désinscrire" figurant en bas de chaque e-mail.
			</p>
		</div>
