<div class="header">

    <nav class="navbar navbar-expand-lg navbar-light">
        {# <div class="container-fluid"> <a class="navbar-brand name" href="gosnippets.com" target="_blank">GoSnippets</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button> #}
        <div class="container-fluid bordure"> <a class="navbar-brand name" href=" {{ path("accueil")}}"  ><img src="{{asset('assets/images/logo-boudia-small.png')}}"  alt="logo">  </a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>


            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"> <a class="nav-link active" aria-current="page" href="{{ path("app_produit_lingerie_menstruelle")}}">Lingerie menstruelle</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path("app_produit_soutiens-gorge")}}">Soutiens-gorge</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path("app_produit_culotte")}}">Culottes</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path("app_produit_string")}}">String</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path("app_produit_boxer")}}">Boxer</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">A propos</a> </li>
                </ul>
                <form class="d-flex searchitem"> <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search"> <i class="fa fa-search"></i> </form>
            </div>
            <div class="icones">
           <a href="{{path("app_login")}}">  <i class="fa-regular fa-user"> </i> </a> 
            {# <a href="{{path("panier_index")}}"> <div class=""><img src="{{asset('assets/images/sac-de-courses.png')}}" alt=""> </a></div>   #}
            <a href="{{path("panier_index")}}"> <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
            </svg> </a>
            


            </div>

        </div>
        
    </nav>
    
    