<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        {# <div class="container-fluid"> <a class="navbar-brand name" href="gosnippets.com" target="_blank">GoSnippets</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button> #}
        <div class="container-fluid"> <a class="navbar-brand name" href=" {{ path("accueil")}}"  ><img src="{{asset('assets/images/logo-boudia-small.png')}}"  alt="logo">  </a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>


            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"> <a class="nav-link active" aria-current="page" href="{{ path("app_produit_lingerie_menstruelle")}}">Lingerie menstruelle</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path("app_produit_soutiens-gorge")}}">Soutiens-gorge</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path("app_produit_culotte")}}">Culottes</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">A propos</a> </li>
                </ul>
                <form class="d-flex searchitem"> <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search"> <i class="fa fa-search"></i> </form>
            </div>
            <div class="icones">
           <a href="/register">  <i class="fa-regular fa-user"> </i> </a> 
            <a href="/panier"> <div class=""><img src="{{asset('assets/images/sac-de-courses.png')}}" alt=""> </a></div>  



            </div>
        </div>
    </nav>
    