{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

<div class="page-produit d-flex"> 
    <div class="zone-image">
        {% for galerie in produit.images %}
            <img src="{{  asset('/uploads/' ~ galerie.nom) }}" alt="image">
        {% endfor %} 
        
    </div>

    <div class="zone-texte ps-3">
        <h4>{{ produit.titre }}</h4>
        
            {# <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr> #}
                {# <h6>Description</h6>    #}
            <p>{{ produit.description }}</p>        
            

            <p class="fw-bold">{{ produit.prix }} €</p>

            <p>Couleur: {{ produit.couleur.name }}</p>
            
        
            {# <tr>
                <th>Taille</th>
                <td>{{ produit.taille }}</td>
            </tr> #}
        
        <button type="submit" class="btn all btn-primary mb-5"><a href="{{path("panier_add", {id:produit.id})}}"  class="text-decoration-none text-white ">Ajouter au panier</a></button> 

    </div>


</div>
    
 
    

    {# <a href="{{ path('app_produit_index') }}">Retour à la liste</a> #}

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>


    {# {{ include('produit/_delete_form.html.twig') }} #}

{% endblock %}
